*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:  hsl(148, 38%, 91%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 60%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}
main h3{
    font-size: 20px;
    /* text-align: center; */
}

.box{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box .names{
    display: flex;
    width: 100%;
}

.box .names label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 5px;
    margin: 10px 10px 20px 0px;  ;
}
.box .names label input{
    width: 100%;
    margin-top: 30px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.753);
    border-radius:8px;
    padding: 12px;
    font-size: 1.1rem;

}
.box .names label  span{
    position:absolute;
    left: 0;
    top: 0;
    font-size: 1.2rem;
}

.box .email{
    position: relative;
    margin: 10px 10px 20px 0px;  ;
}

.box .email span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2rem;
}
.box .email input{
    margin-top: 30px;
    padding: 12px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.685);
    border-radius: 8px;
    outline: none;
    font-size: 1.1rem;
}

.box .query{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    position: relative;
}
.box .query .queryTitle{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.box .query div{
    display: flex;
}


.box .query label{
    border: 1px solid rgb(39, 31, 31);
    padding: 10px 0px;
    width: 100%;
    margin-right: 10px;
    padding: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-radius: 8px;
    cursor: pointer;

}
.box .query label input{
    margin: 0px 19px;
}

.box .message{
    /* border: 3px solid red; */
    position: relative;
    margin: 10px 0px;
}
.box .message textarea{
    width: 100%;
    margin-top: 30px;
    border-radius: 8px;
    padding: 12px;
    font-size: 1.1rem;
    resize: none;
}
.box .message span{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2rem;
}

.box .submit{
    display: flex;
    justify-content: center;
}
.box .submit button{
    width: 100%;
    padding: 12px;
    border-radius:8px ;
    cursor: pointer;
    background-color: hsl(169, 82%, 27%);
    color: antiquewhite;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.error{
    color: rgba(255, 0, 0, 0.81);
    font-size: 1.2rem;
    margin-top: 80px;
    display: none;
}
.query .error{
    margin-top: 4px;
}
.checkButton{
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
}

.checkButton .error{
    margin: 4px 0px;
}
.message .error{
    margin-top: 280px;
    /* margin-bottom: ; */
    /* margin-bottom: 10px; */
    position:absolute;
    bottom: 0;
    /* color: burlywood; */
    left: 0;

    /* color: black; */
}
@media (max-width: 1200px) {
    main{
        width: 80%;
    }
    
}

@media (max-width: 800px) {
    
    main{
        /* border: 3px solid red; */
        width: 90%;
    }
    
}